#app {
  font-family: Arial;
  width: 100%;
  height: 100%;
  color: #2c3e50;
  border-color: #7f8c8d;
  //navs
  .fixed-top {
    background-color: #3498db;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3em;
    text-align: justify;
    .menu-click {
      @extend .menu-click;
      font-size: 2em;
      display: inline-block;
    }
  }
  //playlist
  .playlist {
    width: 100%;
    padding-top: 2em;
    table {
      position: relative;
      float: right;
      right: 2em;
      text-align: left;
      th {
        text-align: center;
      }
    }
  }
}

// lists
.inline-list {
  list-style: none;
  li {
    display: inline;
  }
  i {
    display: inline;
  }
}

.clickable {
  cursor: pointer;
  &:hover {
    color: #3498db;
  }
}

.menu-click {
  @extend .clickable;
  color: white;
  &:hover {
    color: #2c3e50;
  }
}
