@import "../styles/app.scss";

.player {
  position: fixed;
  bottom: 0;
  height: 4em;
  width: 100%;
  background-color: #bdc3c7;
}

.ctrl-btn {
  position: absolute;
  width: 4em;
  height: 4em;
  left: 50%;
  top: 1em;
  border-radius: 50px;
  border: 0px;
  background-color: #da4d57;
  .fa {
    padding: 2px;
    color: white;
    text-align: center;
  }
  &:focus {
    outline: none;
  }
  &:active {
    color: orange;
  }
}
